.first_image
  .fader
    %img{class: "bottom", src: "images/bottom.jpg"}
    %img{class: "top", src: "images/top.jpg"}
  .image_text 1 second crossfade
.first_image
  .fader2sec
    %img{class: "bottom", src: "images/bottom.jpg"}
    %img{class: "top", src: "images/top.jpg"}
  .image_text 2 second crossfade