.image_block
  .fader
    %img{class: "bottom", src: "images/bottom.jpg"}
    %img{class: "top", src: "images/top.jpg"}
  .image_text 1 second crossfade
.image_block
  .fader2sec
    %img{class: "bottom", src: "images/bottom.jpg"}
    %img{class: "top", src: "images/top.jpg"}
  .image_text 2 second crossfade

%article
  This is a demo for Parzival's notable donor page.  These images are placeholders meant to show the crossfade effect.  Send me some images of doctors and they can be replaced quickly.  This code should be easily portable to any existing pages that you have pretty much as is.  All transition are done in pure CSS.
.github
  %a{href:"https://github.com/supertopher/parzival-transition"}
    Source Code on Github