!!!
%html
  %head
    %title Parzival Transition Demo
    %link{rel: "stylesheet", type:"text/css", href: "css/application.css", media: "screen"}
    %link{href: "http://fonts.googleapis.com/css?family=Lustria", rel: "stylesheet", type: "text/css"}

  %body
    = haml :_navigation
    .main
      = yield